body{
    background-color: #1b1b1b;
}

button{
    width: 100px;
    height: 100px;
    border: none;
}

table{
    background-color: #1b1b1b;
}


h1{
    color:#ffffffff;
    margin-bottom: 10px;
    text-align: center;
}

p{
    color: #eeeeee;
    text-align: end;
    font-size: 1.5em;
}
p,table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}


#view{
    margin-left: auto;
    margin-right: auto;
    background-color:  #1b1b1b;
    width:419px;
}


#zero{
    width: 205px;
}

#equal{
    height: 205px;
}

.numberBtn{
    background-color: #575757;
}
.numberBtn:hover{
    background-color: #8b8b8b;
}

.operatorBtn{
    background-color: #fca337;
}
.operatorBtn:hover{
    background-color: #ffbc6a;
}
